#game{
  border-style: solid;
  margin: auto;
  display: block;
  position:absolute;
  left:0px;
}

#score{
  text-align: center
}

#info{
  text-align: center;
  margin:0 auto;
  position:absolute;
  bottom:0px;
  margin-bottom: 20px;
  width:100%;
}

#gameWrapper{
  position:relative;
  margin-top: 50px;
  width:1300px;
  height:900px;
  margin: 0 auto;
}
#stats{
  position:relative;
  float:right;
  top: 0px;
  width: 400px;
  height: 400px;
  border-style: solid;
}

#chart{
  position:relative;
  margin:0 auto;
  width:100%
}

.desc{
  display:block;
  text-align:center;
}
