#game{
  border-style: solid;
  margin: auto;
  display: block;
}

#score{
  text-align: center
}

#info{
  text-align: center
}

#gameWrapper{
  position:relative;
  margin-top: 50px;
  width:1500px;
}
#stats{
  position:absolute;
  right:0px;
  top: 0px;
  display:block;
  width: 400px;
  height: 400px;
}
.desc{
  display:block;
  text-align:center;
}
